#signContainer {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 400px;
    padding: 10px 10px;
}

#signupTitle {
    text-align: center;
    margin: 5px 0px;
}

.SignupLabel {
    display: flex;
    flex-direction: column;
}

#signupButtonDiv {
    margin-top: 10px;
    text-align: center;
}

#signupButton {
    display: inline-block
}
