body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.cardHolder{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px
}
.spotCard {
    width: 22%;
    gap: 5px;
    height:319.19px;
}

.previewImage {
    width: 100%;
    border-radius: 7%;
    height: 195.2px;
}

.spotInfo{
    width: 100%;
    display: flex;
}

.leftSide {
    width: 50%;

}

.rightSide {
    display: flex;
    width: 50%;
}

span {
    display:flex;
    width: 100%;
    gap: 5px;
    justify-content: end;
}
/*
.NavLink{
    display:flex;
    justify-content: end;
} */

.userButton {
    display:flex;
    justify-content: end;
}

ul {
    list-style-type: none;
    text-align: end;
}

li {

}

.userButtonLi{
    width: fit-content
}




.upperBarDiv {
    display:flex;
    justify-content: end;
}
