#spotsContainerManageSpot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.cardHolderManageSpot{
    width: 100%;
}

.cardHolderWithButtons {
    display:flex;
    align-items: start;
    flex-direction: column ;
    width: 210px;
    height: 321.19px;

}

.spotCardManageSpot{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#manageSpotReview {
    display: flex;
    align-items: center;
}

#deleteSpotDiv {
    width: 100%;
    padding: 0px 5px;
}

#deleteSpotTitle {
    text-align: center;
}

.manageSpotButtons{
    list-style-type: none;
    display: flex;
    gap: 7px;
    margin-top: 25px;
}

.DeleteSpotButton{
    color: red;
}

.manageSpotButtons > button {
    color: white;
    background-color: darkgray;
    box-shadow: 4px 3px 2px black;
}

.updateDeleteButtons {
    width: 100%;
    gap: 1px;
}

.updateASpotButton {
    color: white;
    background-color: darkgray;
    box-shadow: 4px 3px 2px black;
}

.updateASpotButton:hover {
    cursor: pointer;
}

#deleteSpotTitle{
    text-align: center;
    margin: 7px 0px 15px 0px;
}

#deleteSpotDiv {
    width: 300px;
    height: 200px;
    padding: 0px 10px;
}

#deleteOrKeep{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#deleteReviewButton {
    height: 30px;
    margin: 0px 5px;
    box-shadow: 3px 3px 2px black;
}

#keepReviewButton {
    height: 30px;
    margin: 0px 5px;
    box-shadow: 3px 3px 2px black;
}

#yesDelete:hover {
    cursor: pointer;
}

#noDelete:hover {
    cursor: pointer;
}
