#spotsContainerManageSpot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.cardHolderManageSpot{
    width: 100%;
}

.cardHolderWithButtons {
    display:flex;
    flex-direction: column ;
    align-items:flex-end;
    justify-content: space-between;
    width: 210px;
    height: 302px;

}

.spotCardManageSpot{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#manageSpotReview {
    display: flex;
    align-items: center;
}

.deleteSpotModal {
    width: 100%;
    padding: 0px 5px;
}

.deleteSpotH1 {
    text-align: center;
}

.manageSpotButtons{
    list-style-type: none;
    flex:1;
    width: fit-content;
}

.deleteSpotButtons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.deleteSpotButtons > button {
    padding: 5px 35px;
    border-radius: 5px;
    font-weight: bolder;
}
#yesDelete {
    background-color: red;
    color: white;
}
.deleteSpotButton > button{
    color: white;
    background-color: darkgray;
    box-shadow: 4px 3px 2px black;
}

.updateDeleteButtons {
    display: flex;
    justify-self: flex-end;
    align-items: end;
    width: 100%;
    gap: 1px;
}

.updateASpotButton {
    color: white;
    background-color: darkgray;
    box-shadow: 4px 3px 2px black;
}

.updateASpotButton:hover {
    cursor: pointer;
}

#deleteSpotTitle{
    text-align: center;
    margin: 7px 0px 15px 0px;
}

#deleteSpotDiv {
    width: 300px;
    height: 200px;
    padding: 0px 10px;
}

#deleteOrKeep{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#deleteReviewButton {
    height: 30px;
    margin: 0px 5px;
    box-shadow: 3px 3px 2px black;
}

#keepReviewButton {
    height: 30px;
    margin: 0px 5px;
    box-shadow: 3px 3px 2px black;
}

#manageSpotPreviewImage{
    width: 210px;
    height: 195.19px;
}

#yesDelete:hover {
    cursor: pointer;
}

#noDelete:hover {
    cursor: pointer;
}
