.hidden {
    visibility: hidden;
}

#logo {
    height: 75px;
}

#navButton {
    display: flex;
    gap: 8px;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: white;
}

#navUl {
    display: flex;
    gap: 15px;
    align-items: center;
}

#createANewSpotNav{
    text-decoration: none;
    color: teal;
    font-weight: bold;

}

#helloButton {
    text-decoration: none;
    color: black;
}

#navPanel {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
}

.profile-dropdown {
    border: 1px solid black;
    position:absolute;
    right: 1%;
    padding: 0px;
}

#helloUser {
    border-bottom: 1px solid black;
    margin: 2px 0px;
}
